GOOGLE_ACCESS_TOKEN=ya29.a0AeDClZDHnaN0FAJciqOQytohfgAP9jb7e58fGms6viHHY5AOEux0-hE6c-N9oUHkdKfk87tphZQQKOs5rCD0LayGdv3i6WUmL_yzRbr9Osue1sklqYy2Mz5f4B8yP54sMQpZQMrCJ5zww87Kn5q1U2UGFYxKNrFa6xIK35QmaCgYKAVQSARASFQHGX2MiaKC0VbDjQ-Mr2aunf1EhKA0175
GOOGLE_REFRESH_TOKEN=1//04mk2Wyghob9lCgYIARAAGAQSNwF-L9IrKbkkewpYzs4VitxIl6hA9akPu_xjgxx6yfdfoUuY-3fUWwtK8psrY6Jj2V4rVaqVo9o
GOOGLE_JAVASCRIPT_ORIGINS=http://localhost:3000
GOOGLE_REDIRECT_URI=http://localhost:3000/oauth2callback
GOOGLE_CLIENT_SECRET=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
GOOGLE_AUTH_PROVIDER_X509_CERT_URL=https://www.googleapis.com/oauth2/v1/certs
GOOGLE_TOKEN_URI=https://oauth2.googleapis.com/token
GOOGLE_AUTH_URI=https://accounts.google.com/o/oauth2/auth
GOOGLE_PROJECT_ID=larvel-440012
GOOGLE_CLIENT_ID=1027929011906-v1s2dnrf7o6lsd6j1i93o5dm2fijgaa0.apps.googleusercontent.com
NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET=TAAVOJBB8KZ0uXUgRC/pX4vUWJb7nZ9ZX+Q7d5+co6Q=
MONGODB_URI=mongodb+srv://billy:RgA2S2EljEkzNb5l@cluster0.knhyk.mongodb.net/?retryWrites=true&w=majority&appName=WarringtonPortal
EMAILJS_PRIVATE_KEY=L_Rtx8Gh01zAohy3dafwl
EMAILJS_PUBLIC_KEY=V8pEpId1kRhb4_0c8
EMAILJS_TEMPLATE_ID=template_de6g4cw
EMAILJS_SERVICE_ID=service_ev7x1e6
GOOGLE_MAPS_API_KEY=AIzaSyBLe6HOcUwPz8l5EAWGh57rFiEi9bJhjP8
EMAILJS_JOB_COMPLETION_TEMPLATE_ID=template_na8667c